<widget id="A6019658353029" version="0.0.1">

    <name>pmapp</name>

    <description>

        人事管理-手机端.

    </description>

    <author email="626863303@qq.com" href="http://www.bj-xljs.com">

        北京新龙嘉盛科技有限公司

    </author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="launcher" value="false"/>

    <preference name="urlScheme" value="pmapp"/>

    <preference name="customRefreshHeader" value="UIPullRefresh"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="false"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

</widget>
