
body {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-top: 5px;
	font-family: ����;
	text-align: center;
	/*background-image:url(../images/main/page_bg.jpg);*/
	background-position:left -100px;
	background-repeat:repeat-x;
	background-attachment: scroll;
}

body {
	scrollbar-face-color: #E7F0EF;
	scrollbar-shadow-color: #B3B3B3;
	scrollbar-highlight-color: #B3B3B3;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #F4F1E2;
	scrollbar-arrow-color: #8B9EA6;   
}

td,p,div {
	font-size: 12px;
	font-family: ����;
	white-space:nowrap;
}

img {
	border: 0
}

input {
	margin: 0px;
	padding: 0px;
	border: 1px solid #999999;
	font-family: ����;
	height: 19px;
	line-height: 19px;
}

input.calc {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	color: #000000;
	background-image: url(/images/btn/calc.jpg);
	height: 28px;
	width: 30px;
	cursor: hand;
}

input.check {
	border: 0
}
checkbox {
	border: 0
}
input.topsearch {
	width: 133;;
	height: 19
}

input.content {
	width: 99%;;
	height: 19
}

td.topnavbg {
	filter: progid : DXImageTransform . Microsoft .
		Gradient(startColorStr = '#018EE2', endColorStr = '#00CCCC',
		gradientType = '1')
}

td.topnav {
	color: ffffff;;
	padding: 0 0 0 20
}

td.line_gray_01 {
	background-color: #BFBFBF
}

td.search_title_01 {
	font-family: "����";
	font-size: 12px;
	color: #2E5A9E;
	/*background-color: #E7EEF8;*/
	padding-right: 10px;
	padding-left: 10px;
}
/*
td.info_title_01 {
	font-family: "����";
	font-size: 14px;
	font-weight: bold;
	color: #2E5A9E;
	background-color: #E7EEF8;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
*/
td.info_title_00 {
	background-color:#E7F0EF;
	color:#2D526D;
	font-weight:bold;
	text-align:center;
	font-size: 12px;
	font-family: Arial;
	padding: 8px 8px 4px 8px;
	writing-mode:tb-rl;
}

td.info_title_01 {
	background-color:#E7F0EF;
	color:#2D526D;
	font-weight:bold;
	text-align:center;
	font-size: 12px;
	font-family: Arial;
	padding: 8px 8px 4px 8px;
}

td.info_title_02 {
	font-family: "����";
	font-size: 14px;
	font-weight: bold;
	background-color: #F5F5F5;
	text-align: center;
}

td.info_title_04 {
	font-family: "����";
	font-size: 13px;
	font-weight: bold;
	color: #2E5A9E;
	background-color: #E7EEF8;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}


td.info_title_05 {
	background-color:#E7F0EF;
	color:#2D526D;
	font-weight:bold;
	text-align:right;
	font-size: 12px;
	font-family: Arial;
	padding: 8px 8px 4px 8px;
}

td.info_title_08 {
	background-color:#E7F0EF;
	color:#2D526D;
	font-weight:bold;
	text-align:center;
	font-size: 12px;
	font-family: Arial;
	padding-right: 3px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*
td.info_content_01 {
	font-family: "����";
	font-size: 13px;
	color: #333333;
	background-color: #FFFFFF;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}
*/

td.info_content_00 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	padding: 8px 8px 4px 8px;
	text-align: left;
	background-color: #FFFFFF;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}
td.info_content_01 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	padding: 8px 8px 4px 8px;
	text-align: center;
	background-color: #FFFFFF;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.info_content_02 {
	font-family: "����";
	font-size: 13px;
	color: #333333;
	background-color: #FFFFFF;
	text-align: center;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.info_content_03 {
	font-family: "����";
	font-size: 12px;
	color: #333333;
	text-align: center;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.info_content_04 {
	font-family: "����";
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

td.info_content_05 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	padding: 8px 8px 4px 8px;
	text-align: center;
	background-color: #FFFFFF;
	padding-right: 3px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
td.info_content_06 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	padding: 3px 3px 1px 3px;
	text-align: left;
	background-color: #FFFFFF;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
td.info_content_07 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	padding: 6px 6px 3px 6px;
	text-align: left;
	background-color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}
td.info_content_08 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-align: left;
	background-color: #FFFFFF;
	writing-mode:tb-rl;
	padding-right: 3px;
	padding-left: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
}
td.info_content_09 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	padding: 8px 8px 4px 8px;
	text-align: center;
	background-color: #FFFFFF;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
td.info_content_10 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	padding: 8px 8px 4px 8px;
	text-align: center;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
td.info_textarea_content {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	word-break:break-all;
	width:200;
	text-align: left;
	background-color: #FFFFFF;	
}
td.ar_set_dynamicgroup {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	word-break:break-all;
	width:700;
	text-align: left;
	background-color: #FFFFFF;	
}
td.info_search_02 {
	font-family: "����";
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;
}

td.info_bg_on {
	background-image: url(/images/btn/on.gif);
	background-position: center;
	background-repeat: no-repeat;
	width: 90px;
	font-weight: bold;
	text-align: center;;
	color: #FFFFFF
}

td.info_bg_off {
	background-image: url(/images/btn/off.gif);
	background-position: center;
	background-repeat: no-repeat;
	width: 90px;
	text-align: center;
}

td.info_left_first {
	padding: 5 0 5 0;
	font-weight: bold;
	color: #0073B7;;
	font-size: 13px;;
	line-height: 169%;
	border-bottom: 1 solid #CCCCCC
}

td.info_left_second {
	color: #333333;
	background-color: #F6F6F6
}

td.info_left_third {
	padding: 5 0 5 10;
	color: #999999;
	background-color: #F6F6F6;;
	line-height: 200%;
	border-bottom: 1 dashed #C3C3C3
}

td.title1 {
	font-family: "����";
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-image: url(../images/top_d.jpg);
	background-repeat: no-repeat;
	
	padding-right: 0px;
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 2px;
}

span.title1 {
	font-family: "����";
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-image: url(../images/top_d.jpg);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 6px;
	padding-left: 18px;
	align: left;
}

a:link {
	text-decoration: none;
	color: #020468;
}

a:visited {
	text-decoration: none;
	color: #666666;
}

a:active {
	text-decoration: underline;
	color: #0770FF;
}

a:hover {
	text-decoration: underline;
	color: #0770FF;
}

select {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #999999;
	font-family: ����;
}

select.pamonth {
	font-size: 9px;
	font-family: Tahoma;
}
select.essOt {
	font-size: 10.5px;
	font-family: Tahoma;
}
a.on:link {
	color: #FFFFFF;
	text-decoration: none;
}

a.on:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.on:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

a.on:active {
	color: #FFFFFF;
	text-decoration: underline;
}

a.off:link {
	color: #000000;
	text-decoration: none;
}

a.off:visited {
	color: #000000;
	text-decoration: none;
}

a.off:hover {
	color: #000000;
	text-decoration: underline;
}

a.off:active {
	color: #000000;
	text-decoration: underline;
}

a.second:link {
	color: #333333;
	text-decoration: none;
}

a.second:visited {
	color: #333333;
	text-decoration: none;
}

a.second:hover {
	color: #333333;
	text-decoration: underline;
}

a.second:active {
	color: #333333;
	text-decoration: underline;
}

a.third:link {
	color: #999999;
	text-decoration: none;
}

a.third:visited {
	color: #999999;
	text-decoration: none;
}

a.third:hover {
	color: #999999;
	text-decoration: underline;
}

a.third:active {
	color: #999999;
	text-decoration: underline;
}

a.first:link {
	color: #0073B7;
	font-size: 13px;
	text-decoration: none;
}

a.first:visited {
	color: #0073B7;
	font-size: 13px;
	text-decoration: none;
}

a.first:hover {
	color: #0073B7;
	font-size: 13px;
	text-decoration: underline;
}

a.first:active {
	color: #0073B7;
	font-size: 13px;
	text-decoration: underline;
}

td.info_title_03 {
	vertical-align: middle;;
	background-color: #EFE7F8;
	color: #552680;;
	padding: 0 3 0 3;
}

td.expired {
	font-size: 12px;
	color: #FF0000;
	text-decoration: line-through;
}

/*��˵�ʹ��*/


a.shen:link {
	text-decoration: none;
	color: #004164;
}

a.shen:visited {
	text-decoration: none;
	color: #004164;
}

a.shen:active {
	text-decoration: none;
	color: #004164;
}

a.shen:hover {
	text-decoration: none;
	color: #004164;
}

a.qian:link {
	text-decoration: none;
	color: #FFFFFF;
}

a.qian:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a.qian:active {
	text-decoration: none;
	color: #FFFFFF;
}

a.qian:hover {
	text-decoration: none;
	color: #004164;
}

.kuang_zuo {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}

.dr_1 {
	font-family: "����";
	font-size: 12px;
	color: #2E5A9E;
	background-color: #E7EEF8;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

.dr_2 {
	font-family: "����";
	font-size: 12px;
	color: #333333;
	background-color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
}

.dr_d {
	/*background-color: #B8CBEA;*/
	background-color: #DBDBDB;
	bordercolor: #DBDBDB; 
	padding: 2px 6px 2px 6px;
}

.top_1 {
	font-family: "����";
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-image: url(../images/top_d.jpg);
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 40px;
}

.td_shen {
	font-family: "����";
	font-size: 14px;
	font-weight: bold;
	color: #004164;
	background-image: url(../images/top_zuo_d.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	text-align: center;
	width: 75px;
}

.td_qian {
	font-family: "����";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/top_zuo_d.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	padding-right: 5px;
	padding-left: 2px;
	width: 68px;
	text-align: center;
}





/*LSFC CSS STYLE*/

a.lotte3:link {
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFF33;
}

a.lotte4:link {
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}




body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
/*
table{
	border-collapse: collapse;
}
*/
.STYLE1 {color: #FFFFFF}
.saaa {
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
}
#leftmenu {
	position:absolute;
	left:35px;
	top:418px;
	width:216px;
	height:181px;
	z-index:4;
	background-image: url(../images/letianindexleft.gif);
	background-repeat: no-repeat;
}
#leftmenutop {
	height: 112px;
	width: 170px;
	margin-top: 40px;
	margin-left: 12px;
}

.letianfont1 {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-align: left;
}
.letianfont2 {
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-align: left;
	padding: 8px 8px 4px 8px;
}
.letianfont7 {
	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-align: left;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
td.data_title {
	background-color:#E7F0EF;
	color:#2D526D;
	font-weight:bold;
	text-align:center;
	font-size: 12px;
	font-family: Arial;
	padding: 8px 8px 4px 8px;
}
td.data_title_sort {	background-color:#E7F0EF;
	color:#2D526D;
	text-align:center;
}
td.data_title2 {	background-color:#FCFBF8;
	color:#666666;
	font-weight:bold;
	text-align:center;
}
td.data_title3 {	background-color:#F6F6F6;
	color:#666666;
	font-weight:bold;
	text-align:center;
}
.letianfont3 {
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFF33;
}
.letianfont4 {

	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}
.letianfont5 {

	font-family: Arial;
	font-size: 12px;
	color: #333;
	text-align: center;
	padding: 8px 8px 4px 8px;
}
.lmenufont01 {
	font-family: Arial;
	font-size: 12px;
	color: #0084CE;
	padding-right: 4px;
	padding-left: 4px;
}
.lmenufont02 {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	padding-left: 4px;
	padding-right: 4px;
}
#menua01 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 300px;
	top: 61px;
	width: 580;
	visibility: hidden;
}
#menua02 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 300px;
	top: 61px;
	width: 400;
	visibility: hidden;
}
#menua03 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 420px;
	top: 61px;
	width: 500;
	visibility: hidden;
}
#menua04 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 490px;
	top: 61px;
	width: 580;
	visibility: hidden;
	float: left;
}
#menua05 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 600px;
	top: 61px;
	width: 560;
	visibility: hidden;
	float: right;
}
#menua06 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 640px;
	top: 61px;
	width: 560;
	visibility: hidden;
	float: right;
}
#menua07 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 600px;
	top: 61px;
	width: 560;
	visibility: hidden;
	float: right;
}
#menua08 {
	position:absolute;
	height: 23px;
	z-index: 3;
	left: 720px;
	top: 61px;
	width: 560;
	visibility: hidden;
	float: right;
}
.letianfont6 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-align: center;
	padding: 4px 4px 4px 4px;
	cursor: hand;
}
.letianfont6 a:link {
	color: #666666;
	text-decoration: none;
}
.letianfont6 a:visited {
	color: #666666;
	text-decoration: none;
}
.letianfont6 a:hover {
	color: #FEA000;
	text-decoration: none;
}
.letianfont6 a:active {
	color: #666666;
	text-decoration: none;
}


.menuaa {
	font-family: Arial;
	font-size: 14px;
	color: #FFFFFF;
	cursor: hand;
	font-weight: bold;
}
.menuab {
	font-family: Arial;
	font-size: 14px;
	color: #FFFF4D;
	cursor: hand;
	font-weight: bold;
}
.indexbk {
	background-image: url(../images/letianindexbk.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.indextab01td01 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #5E963F;
	background-color: #DEEDD6;
	text-align: left;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.indextab01td02 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-align: left;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.indextab01td03 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #3CBFFF;
	background-color: #D7F2FF;
	text-align: left;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.indextab03td01 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 12px;
	text-align:left;  
	
}
.indextab01td04 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-align: left;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	background-color: #F3F3F3;
	text-valign:top;
	text-align:center;
}
.indextab01td041 {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	text-align: left;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	background-color: #F3F3F3;
	text-valign:top;
	text-align:left;
}
#leftmain1 {
	position:absolute;
	height: 90px;
	width: 169px;
}
.leftmain1td1 {
	height: 23px;
	background-image: url(../images/letianindexl04.gif);
	background-repeat: repeat-x;
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	padding-top: 6px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.leftmain1td2 {
	height: 23px;
	background-image: url(../images/letianindexl04.gif);
	background-repeat: repeat-x;
	font-family: Arial;
	font-size: 12px;
	color: #FF3300;
	text-align: right;
	padding-top: 6px;
	padding-right: 2px;
}
#leftmain2 {
	position:absolute;
	height: 90px;
	width: 169px;
	visibility: hidden;
}

.letianfont3 a:link {
	color: #FFFF33;
	text-decoration: none;
}
.letianfont3 a:visited {
	color: #FFFF33;
	text-decoration: none;
}
.letianfont3 a:hover {
	color: #FFFF33;
	text-decoration: none;
}
.letianfont3 a:active {
	color: #FFFF33;
	text-decoration: none;
}

.letianfont4 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.letianfont4 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.letianfont4 a:hover {
	color: #FFFF33;
	text-decoration: none;
}
.letianfont4 a:active {
	color: #FFFF33;
	text-decoration: none;
}


/*头部导航*/
.main_top {
	height:100px;
}
.logo {
	width:250px;
	height:78px;
 	padding-top:22px;
	text-align:center;
	background-image:url(../images/main/top_bg.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.main_top_up {
	height:22px;
	line-height:20px;
	text-align:right;
}
.main_top_up td {padding-left:3px;padding-right:3px;color:#FFF;font-size:12px;}
.main_top_up td a {color:#FFF; text-decoration:none;}
.main_top_down {
	height:78px;
	line-height:20px;
	text-align:left;
}
#nav_menu {
	height:43px;
	line-height:42px;
	font-size:15px;
	color:#666;		
}
#nav_menuul {
	width:720px;
	margin:0px;
	padding:0px;
	background-image:url(../images/main/nav_left.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}
#nav_menu li {
	margin:0px;
	padding:0px;
	width:8em;
	display:block;
	float:left;
	height:42px;
	text-align:center;
	list-style-type: none;
	background-image:url(../images/main/nav_line.gif);
	background-repeat:no-repeat;
	background-position:center right;
}
#nav_menu li a {text-decoration:none;font-weight:bold;}
.lion {color:#333;}
.lion  a {color:#333;}
.lioff {color:#666;}
.lioff a {color:#666;}
.lioff a:hover {color:#333;}
#menua {height:20px;padding-left:15px;}
#menua a {display:block;float:left;padding-left:14px;height:20px;line-height:20px;text-decoration:none;color:#FFF;font-size:12px; font-weight:bold; white-space:nowrap;}
#menua a:hover {color:#2E3E63;}
#menua01 {margin-left:0px;width:280px;background-color:#5C91BD;}
#menua02 {margin-left:105px;width:280px;background-color:#5C91BD;}
#menua03 {margin-left:210px;width:280px;background-color:#5C91BD;}
#menua04 {margin-left:315px;width:280px;background-color:#5C91BD;}
#menua05 {margin-left:400px;width:280px;background-color:#5C91BD;}
#menua06 {margin-left:420px;width:280px;background-color:#5C91BD;}
