html,body {
margin:0px;
padding:0px;
width:100%;
height:100%;
background-image:url(../images/main/page_bg.jpg);
background-position:top;
background-repeat:repeat-x;
}
.main_top {
	height:100px;
}
.logo {
	width:250px;
	height:78px;
 	padding-top:22px;
	text-align:center;
	background-image:url(../images/main/top_bg.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.main_top_up {
	height:22px;
	line-height:20px;
	text-align:right;
}
.main_top_up td {padding-left:3px;padding-right:3px;color:#FFF;font-size:12px;}
.main_top_up td a {color:#FFF; text-decoration:none;}
.main_top_down {
	height:78px;
	line-height:20px;
	text-align:left;
}
#nav_menu {
	height:43px;
	line-height:42px;
	font-size:15px;
	color:#666;		
}
#nav_menuul {
	width:720px;
	margin:0px;
	padding:0px;
	background-image:url(../images/main/nav_left.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}
#nav_menu li {
	margin:0px;
	padding:0px;
	width:8em;
	display:block;
	float:left;
	height:42px;
	text-align:center;
	list-style-type: none;
	background-image:url(../images/main/nav_line.gif);
	background-repeat:no-repeat;
	background-position:center right;
}
#nav_menu li a {text-decoration:none;font-weight:bold;}
.lion {color:#569DD1;}
.lion  a {color:#569DD1;}
.lioff {color:#CCCCCC;}
.lioff a {color:#666;}
.lioff a:hover {color:#333;}
#menua {height:20px;padding-left:15px; white-space:nowrap;}
#menua a {display:block;float:left;padding-left:7px;padding-right:7px;height:20px;line-height:20px;text-decoration:none;color:#FFF;font-size:12px; font-weight:bold; white-space:nowrap;background-color:#5C91BD;}
#menua a:hover {color:#2E3E63;}
#menua01 {margin-left:0px;}
#menua02 {margin-left:105px;}
#menua03 {margin-left:210px;}
#menua04 {margin-left:300px;}
#menua05 {margin-left:480px;}
#menua06 {margin-left:590px;}


.main {
	background-image:url(../images/main/main_img.jpg);
	background-repeat:no-repeat;
	background-position:403px 17px;
	height:465px;
	padding-left:83px;
	padding-top:42px;	
	min-width:927px;	
}
.main_left {height:394px;width:290px; border-bottom:1px solid #2860A9;}
#main_nav { 
	background-image:url(../images/main/main_nav_top.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	margin:0px;
	padding:0px;
	padding-top:3px;
	height:35px;
	width:288px;
	line-height:14px;
}
#main_nav li {
	margin:0px;
	padding:0px;
	padding-left:10px;
	height:26px;
	width:85px;
	float:left;
	background-repeat:no-repeat;
	
}
#main_nav li a {font-size:12px;text-decoration:none;}
#main_nav .lion { background-image:url(../images/main/main_nav_on.jpg);}
#main_nav .lion a {color:#FFF;}
#main_nav .lioff { background-image:url(../images/main/main_nav_off.jpg);}
#main_nav .lioff a {color:#194379;}
#main_type {width:290px;}
#main_type a {color:#333; text-decoration:none;}
#main_type ul {margin:0px;padding:0px;}
#main_type ul li {margin:0px;padding:0px;list-style-type: square;height:22px;line-height:22px;font-size:12px;color:#333; background-image:url(../images/main/block.gif); background-repeat:no-repeat; background-position:2px 9px;}
#main_type ul li span { font-weight:bold;color:#FF3300;padding-left:1em;padding-right:1em;}
.footer {height:22px;background-image:url(../images/main/footer.gif); background-repeat:repeat-x;}
.copyright {float:left;width:260px;height:22px;margin-left:20px;background-image:url(../images/main/copyright.gif); background-repeat:no-repeat;background-position:2px 7px;}
.emanager {float:right;width:65px;height:22px;margin-right:10px;background-image:url(../images/main/emanager.gif); background-repeat:no-repeat;background-position:2px 3px;}